.listing {
  background: white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  padding-bottom: 30px;
  height: 55vh;
  overflow: hidden;
  margin-bottom: 2rem;
}
.listing-heading {
  color: royalblue;
  padding: 10px 20px 0 20px;
}
.listing-photo {
  height: 250px;
  width: 100%;
  object-fit: cover;
  border-radius: 30px 30px 0 0;
}
.listing-location {
  padding: 10px 20px 20px 20px;
}
.listing-location::before {
  content: url("/assets/pin.svg") / "";
  width: 20px;
  height: 20px;
  color: #e63946;
  vertical-align: middle;
  margin-right: 4px;
}
section.listing a {
  padding-left: 20px;
  text-decoration: none;
  color: royalblue;
}
section.listing a::after {
  content: "\203A";
  margin-left: 5px;
}
